.Search {
  position: absolute;
  top: 35px;
  left: 25%;
  width: 100vw;
  margin-top: 110px;
}
.Search > h2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 559px;
  padding: 10px;
  background-color: white;
  position: absolute;
  left: 0;
  top: 380px;
}
.Search > input {
  width: 539px;
  padding: 20px;
  position: absolute;
  left: 0;
  height: 30px;
  top: 440px;
  border: none;
}
.Search > input:focus {
  outline-width: 0;
}
.Search > button {
  position: absolute;
  left: 0;
  top: 480px;
  text-transform: inherit;
  background-color: #ff7779;
  color: white;
  width: 579px;
  font-weight: bolder;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.Search > button:hover{
    background-color: white;
    color: #ff7779;
}
